@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*>*{
    margin: 0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-family: "Inter";
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
}
p{
    font-size: 15px;
    color:hsl(233, 8%, 79%);
}
header{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}
nav ul {
    color: hsl(233, 8%, 79%);
    list-style: none;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(5, auto);
    align-items: center;
    gap: 40px;
}

nav li:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
.grid-container{
    display: grid;
    grid-template-areas:
    "section section aside"
    "section section aside"
    "footer footer footer"
    ;
    gap: 30px;
}
.hero-section-img{
    width: 100%;
}
.hero-section-img-Mobile{
    display: none;
}
section{
    grid-area: section;
}
main{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding: 20px 0;
}
main div{
    display: grid;
    justify-content: space-between;
}
main p{
    line-height: 1.8em;
    word-break: break-word;
}
main h1{
    font-size:3em;
    font-weight: 800;
    word-break:break-word;

}
.btn-readMore{
    color: hsl(36, 100%, 99%);
    letter-spacing: 5px;
    font-weight: 800;
    font-size: medium;
    border: none;
    background-color: hsl(5, 85%, 63%);
    width: 180px;
    height: 50px;
}
.btn-readMore:hover{
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}
aside{
    grid-area: aside;

    background-color: hsl(240, 100%, 5%);
    padding: 20px;
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    gap: 20px;
}
aside div :nth-child(2){
    border-bottom: 1px solid hsl(233, 8%, 79%);
    padding-bottom:30px;
    line-height: 1.8em;
}
.new-last-child {
    border: none !important;
    padding: 0 0 5px !important;
}
aside h4{
    line-height: 2em;
    color: hsl(36, 100%, 99%);
    cursor: pointer;
}
aside h4:hover{
    color: hsl(35, 77%, 62%);
}
.new{
    color: hsl(35, 77%, 62%);
    font-weight: 700;
    font-size: xx-large;
}
footer{
    grid-area: footer;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;

}
.More-articles{
    display: flex;
    gap: 20px;
}
.More-articles div{
    display: grid;
    justify-content: space-between;
}
.More-articles h2{
    color:hsl(233, 8%, 79%);
}
h4{
    font-weight: 800;
}
.More-articles h4:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

@media screen and (max-width:521px){
    body{
        margin: 0 15px !important;
    }
    nav{display: none;}
    header{
        padding: 30px 0;

    }
    main{
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: minmax(150px, auto);
        gap: 20px; 
        padding: inherit; 
    }
    main div{
        gap: 25px;
    }
    img[src="./assets/images/logo.svg"]{
        width: 50px;
    }
    .hero-section-img-Mobile{
        display: block;
        max-width: 100%;
        padding-bottom: 20px;
    }
    .hero-section-img{
        display: none;
    }
    .grid-container{
        overflow: scroll;
        grid-template-areas: 
        "section"
        "aside"
        "footer";
        gap: 60px;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

    }
}
@media screen and (max-width: 1200px){
    body{
    margin-left: 20px;
    margin-right: 20px;    
}
}